.text-muted {
    margin: 0px 0px 25px 0px;
    text-align: left;
}

h2 {
    padding: 0px 0px 0px 0px;
    border: 1px black;
}

h3 {
   font-style: italic; 
   padding: 0px 0px 0px 0px;
}

.container-fluid {
    background-color: #f1f1f1;
    padding: 15px 15px 15px 15px;
}

#key {
    font-family: Helvetica;
}

